# stacking

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.svm import SVC
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('winequality-red.csv')

In [3]:
def TKPY_remove_zeros(df):
    for column in df.columns:
        print(df[column])
        df[column] = df[column].replace(0,df[column].mean())
TKPY_remove_zeros(df)

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64
0       0.700
1       0.880
2       0.760
3       0.280
4       0.700
        ...
1594    0.600
1595    0.550
1596    0.510
1597    0.645
1598    0.310
Name: volatile acidity, Length: 1599, dtype: float64
0       0.00
1       0.00
2       0.04
3       0.56
4       0.00
        ...
1594    0.08
1595    0.10
1596    0.13
1597    0.12
1598    0.47
Name: citric acid, Length: 1599, dtype: float64
0       1.9
1       2.6
2       2.3
3       1.9
4       1.9
       ...
1594    2.0
1595    2.2
1596    2.3
1597    2.0
1598    3.6
Name: residual sugar, Length: 1599, dtype: float64
0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
1594    0.090
1595    0.062
1596    0.076
1597    0.075
1598    0.067
Name: chlorides, Length: 1599, dtype: float64
0       11.0
1       25.0
2       15.0
3       17.0
4       11.0
        ...
1594    32.0
1595    39.0
1596    29.0
1597    32.0
1598    18.0
Name: free sulfur dioxide, Length: 1599, dtype: float64
0       34.0
1       67.0
2       54.0
3       60.0
4       34.0
        ...
1594    44.0
1595    51.0
1596    40.0
1597    44.0
1598    42.0
Name: total sulfur dioxide, Length: 1599, dtype: float64
0       0.99780
1       0.99680
2       0.99700
3       0.99800
4       0.99780
         ...
1594    0.99490
1595    0.99512
1596    0.99574
1597    0.99547
1598    0.99549
Name: density, Length: 1599, dtype: float64
0       3.51
1       3.20
2       3.26
3       3.16
4       3.51
        ...
1594    3.45
1595    3.52
1596    3.42
1597    3.57
1598    3.39
Name: pH, Length: 1599, dtype: float64
0       0.56
1       0.68
2       0.65
3       0.58
4       0.56
        ...
1594    0.58
1595    0.76
1596    0.75
1597    0.71
1598    0.66
Name: sulphates, Length: 1599, dtype: float64
0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
1594    10.5
1595    11.2
1596    11.0
1597    10.2
1598    11.0
Name: alcohol, Length: 1599, dtype: float64
0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [4]:
y=df['quality']
x=df.drop(columns='quality')

In [5]:
x.shape

(1599, 11)

In [6]:
y.shape

(1599,)

In [7]:
q= df['total sulfur dioxide'].quantile(.98) 
df_new=df[df['total sulfur dioxide']<q]

In [8]:
train,val_train,test,val_test=train_test_split(x,y,test_size=.50,random_state=30)
# divided dataset into 50 % of training and validation training datset

In [9]:
train.shape

(799, 11)

In [10]:
test.shape

(799,)

In [19]:
test

192     5
174     5
1057    5
1409    6
796     5
       ..
919     6
1164    5
500     6
941     7
421     7
Name: quality, Length: 799, dtype: int64

In [20]:
x_train,x_test,y_train,y_test=train_test_split(train,test,test_size=.25,random_state=30)
# now spliting training data to split into train and test data

In [21]:
x_test.shape

(200, 11)

In [22]:
y_test.shape

(200,)

In [23]:
y_test

92      5
346     7
770     6
1373    5
1507    6
       ..
875     7
172     6
1551    5
1012    5
282     5
Name: quality, Length: 200, dtype: int64

In [24]:
x_train.shape

(599, 11)

In [25]:
y_train.shape

(599,)

In [26]:
knn=KNeighborsClassifier()# here can call any model we want to use

In [27]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [28]:
knn.score(x_test,y_test)

0.54

In [29]:
svc=SVC()

In [30]:
svc.fit(x_train,y_train)

SVC()

In [31]:
svc.score(x_test,y_test)

0.49

In [41]:
knn_prediction=knn.predict(val_train)

In [42]:
svc_prediction=svc.predict(val_train)

In [45]:
input3=np.column_stack((knn_prediction,svc_prediction))

In [46]:
output3=val_test

In [48]:
output3

1147    7
659     4
871     5
1333    5
1411    6
       ..
1073    6
200     7
942     7
1106    6
1329    6
Name: quality, Length: 800, dtype: int64

In [49]:
input3

array([[7, 6],
       [5, 6],
       [6, 6],
       ...,
       [5, 6],
       [6, 6],
       [5, 5]], dtype=int64)

In [50]:
pd.DataFrame(input3)

     0  1
0    7  6
1    5  6
2    6  6
3    6  6
4    5  6
..  .. ..
795  5  6
796  5  6
797  5  6
798  6  6
799  5  5

[800 rows x 2 columns]

In [51]:
pd.DataFrame(output3)

      quality
1147        7
659         4
871         5
1333        5
1411        6
...       ...
1073        6
200         7
942         7
1106        6
1329        6

[800 rows x 1 columns]

In [52]:
#model 3 combiningrest 2 model and doing  final prediction

In [53]:
rf=RandomForestClassifier()

In [54]:
rf.fit(input3,output3)

RandomForestClassifier()

                                data
                                /  \
                               /    \
                            50%     50%
                           /  \
                          /    \
                         40%    10%
                         /  \
                        /    \
                       KNN    SVM
                      
KNN , SVM will predict on rest 50 % of data
                       
KNN +SVM + rest 50% = combine
combine will be passed to model3
10% is kept for final prediction as not working in any training

In [57]:
knn_output=knn.predict(x_test)

In [58]:
svc_output=svc.predict(x_test)

In [60]:
final_test_data=np.column_stack((knn_output,svc_output))

In [61]:
rf.predict(final_test_data)

array([5, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7,
       6, 5, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 6, 6,
       6, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 7, 6, 6,
       6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 5, 5, 6, 6, 6, 5, 6, 6, 5, 7, 6, 6,
       5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6,
       7, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 7, 5, 5, 6, 5, 6, 7, 5, 6, 6,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6,
       5, 6, 6, 7, 5, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6,
       6, 5], dtype=int64)

In [62]:
rf.score(final_test_data,y_test)

0.475